/*Estilos generales*/
*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Open Sans', Verdana;
}
html, body{
    overflow-x: hidden;
}
body{
    background: white;
}
.clearfix{
    clear: both;
    float: none;
}
.container{
    width: 85%;
    margin: 0px auto;
}

/*CABECERA*/

#main-header{
    background: white;
    height: 100px;
    line-height: 85px;
}
#logo{
    width: 63%;
    float: left;
}
#logo h1{
    font-weight: bold;
    font-size: 25px;
    color:#FB314E;
}
#menu{
    width: 401px;
    float: left;
}
#menu ul li{
    list-style: none;
    float: left;
    margin-left: 19px;
    margin-right: 19px;
}
#menu ul li a{
    color:black;
    transition: all 300ms;
}
#menu ul li a:hover{
    color: #FB314E;
}
/*Slider*/
#slider{
    height: 300px;
    background: #FB314E;
}
#slider h2{
    font-size: 40px;
    text-align: center;
    color:white;
    line-height: 290px;
    text-shadow: 0px 0px 6px black;
}

/* SERVICIOS */

.subheader{
    font-size: 35px;
    color:#333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(251, 49, 78, 0.3);
}
.service, .videos{
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service img{
    height: 48px;
    margin-bottom: 10px;
}
.service h3{
    margin-bottom: 10px;
}
.service p, .videos p{
    color: #444;
    text-align: justify;
    padding: 18px;
}
/* Seccion de videos */

.videos iframe{
    width: 80%;
    height: 170px;
}
/* FOOTER */
#footer{
    background: #333;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color: white;
}
#footer .subheader{
    color:white;
}
#networks{
    display: block;
    width:216px;
    margin:0px auto;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
#networks li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    transition:all 300ms;
}
#networks li:hover{
    opacity: 0.8;
    transform: scale(1.1,1.1);
}
/*
MEDIA QUERY
http://developer.mozilla.org/es/docs/CSS/Media_queries

@media all and (max-width: 1000px){ se aplica cuando es menor a tamaño especificado
    #main-header{
        background: black;
    }
}*/

@media  (max-width:1275px){
    .container{
        width: 95%;
    }
}

@media  (max-width:1142px){
    #main-header{
        height: 70;
        line-height: 65px;
    }
    #logo{
        width: 60%;
    }
}
@media  (max-width:1055px){
    #logo{
        width: 220px;
        float: none;
        margin: 0 auto;
    }
    #menu{
        float: none;
        margin: 0 auto;
    }
    #slider{
        overflow: hidden;
        height: 150px;
    }
    #slider h2{
        font-size: 30px;
        line-height: 30px;
        margin-top: 50px;

    }
}
@media (max-width:880px){
    .service, .videos{
        width: 70%;
        float: none;
        margin:0px auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .service, .videos{
        margin-top: 10px;
    }
    .service img{
        margin-bottom: 5px;
    }
    .videos iframe{
        width: 80%;
        height: 205px;
    }
    
}

@media (max-width:400px){
    #menu{
        width: 100%;
        text-align: center;

    }
    
    #menu ul li {
        margin-left: 4%;
        margin-right: 4%;

    }
    #slider h2{
        font-size: 25px;
        line-height: 30px;
        margin-top: 50px;

    }
    .videos iframe{
        width: 80%;
        height: 150px;
    }
}
@media (max-width:383px){

    #main-header{
        height: auto;
    }
    #menu ul li {
        float: none
    }
    .service, .videos{
        width: 90%;
    }
}

